/*--------- Font ------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/*--------- General layout ------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

input[type=number] {
   	width: 50px;
   	font: inherit;
	font-size: 12px;
    text-align: center;
}

input[name=inputHcp] {
	padding: 3px;
    margin: 0;
    border: 1px solid #78CFBF;
    border-radius: 5px;
}

input[type=number] : focus{
    outline: none;
}

/*--------- Body layout ------------*/
body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;    
}

/*--------- Footer layout ------------*/
footer {
	width: 100%
	height: 50px;
	margin-top: -50px;
	font: inherit;
	font-size: 14px;
	text-align: center;
	color: #9C9E9F;
  	margin-bottom: 5px;
	position: relative;
}

/*--------- Group settings ------------*/
.group:before, .group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

table {
  	color: #333;
  	font: inherit;
  	font-size: 12px;
  	font-weight: 300;
 	text-align: center;
  	line-height: 35px;
  	border-spacing: 0;
  	margin: 15px auto;
  
    min-width: 300px;
	width: 40%;    
   	overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
}

/*--------- Table head ------------*/
thead tr:first-child {
  	background: #78CFBF;
  	color: #fff;
  	border: none;
  	line-height: 45px;
}

/*--------- Table body ------------*/
tbody tr {
	background: #fff;
}
tbody tr: hover {background-color: #ddd;}
tbody td {
	border-bottom: 1px solid #ddd;
	text-align: center;
}
tbody: last-child {border-bottom: none;}

/*--------- Table foot ------------*/
tfoot tr:first-child {
  	background: #78CFBF;
  	color: #fff;
  	border: none;
  	line-height: 45px;
}

tfoot td {
	text-align: center;
}

/*----------- GENERAL #2 ------------*/
.scoreCardContainer {
	width: 80%;
	min-width: 300px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}

.scoreCardContainer .heading {
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.ph-floatHidden {
    display:none;
}

.ph-floatUnhidden {
    display:block;
}

/*-------- SELECT COURSE ---------*/
#selectCourseWrapper {
	margin-top: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
}

#selCourseTxt {
	float: left;
	margin-top: 6px;
	margin-right: 27px;
}

.selCourseHeader {
	color: #9C9E9F;
    text-transform: uppercase;
    font-size: 12px;
}

#selCourseDropDown {
	float: left;
}

select {
  	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#fff' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  	/*background-color: #FFF;*/
  	background-repeat: no-repeat;
  	background-position: right 6px top 6px;
  	background-size: 12px 12px;
  	
  	color: white;
  	padding: 5px 12px 5px;
  	width: 146px;
  	font: inherit;
  	font-size: 12px;
  	color: #fff;
  	text-align: center;
  	border-radius: 5px;
  	border: 0;
 	outline: 0;
 	
  	-webkit-border-radius: 5px;
  	-webkit-appearance: none;
  	-webkit-transition: 0.3s ease all;
	   -moz-transition: 0.3s ease all;
	    -ms-transition: 0.3s ease all;
	     -o-transition: 0.3s ease all;
	        transition: 0.3s ease all;
}

#selCourse {
  background-color:#78CFBF;
}

#selCourse:hover {
  background-color:#78CFBF;
}

/*-------- HCP INPUT -----------*/
#hcpInputWrapper {
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	position: relative;
}

#hcpInputTxt {
	float: left;
	margin-top: 6px;
}

#hcpInput {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#hcpInputBtn {
	float: left;
}

.hcpInputHeader {
	color: #9C9E9F;
    text-transform: uppercase;
    font-size: 12px;
}

/*----------- BUTTONS ------------*/
.ph-button-calc {
    border-radius: 5px;

    color: #FFFFFF;	   
    cursor: pointer;
    display: inline-block;
    overflow: hidden;

    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;

    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    padding: 10px 20px 9px;

    font: inherit;
    font-size: 12px;
    font-style: normal;
}

.ph-button-strokes {
    border-radius: 5px;

    color: #FFFFFF;	   
    cursor: pointer;
    display: inline-block;
    overflow: hidden;

    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;

    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    padding: 5px 12px 5px;

    font: inherit;
    font-size: 12px;
    font-style: normal;
}

.ph-btn-green {
    border-color: #3AC162;
	background-color: #78CFBF;
}

.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #78CFBF;
    border-color: #3AC162;    
}

